mixin advantage(icon, title)
    div.advantage
        img(src=icon, alt=title)
        strong !{title}

mixin equipment(image, title, text)
    div.equipment
        img(src=image, alt=title)
        div.info
            span Мы используем
            strong= title
            p= text


section.about#about
    div.container

        div.description
            div.text
                h2 О компании
                span Наша компания специализируется на перевозке лежачих больных, предоставляя услуги безопасного и комфортного медицинского транспорта. Мы понимаем, насколько важно обеспечить пациенту бережное обращение, поэтому #[b все наши автомобили оснащены современным оборудованием], а персонал проходит профессиональную подготовку.

                div.advantages
                    +advantage('images/advantage_1.svg', 'Современное <br>оснащение')
                    +advantage('images/advantage_2.svg', 'Профессиональный <br>персонал')
                    +advantage('images/advantage_3.svg', 'Гибкие <br>маршруты')
                    +advantage('images/advantage_4.svg', 'Доступные <br>цены')

            div.image
                img(src="images/8.webp", alt="")

        div.slider
            div.swiper
                div.swiper-wrapper
                    div.swiper-slide
                        +equipment('images/9.webp', 'Носилки каталки', 'Носилки-каталка идеально подходят для перевозки людей не имеющих возможности передвигаться сидя. Выдерживают вес свыше 150 кг и оснащены системой амортизации. Благодаря этому носилки не шатаются и транспортировка происходит в спокойном режиме.')
                    div.swiper-slide
                        +equipment('images/10.webp', 'Кресельные носилки', 'Кресельные носилки используется для транспортировки людей с ограниченными возможностями. Подъем в автомобиль осуществляется на автоматической платформе, которая выполнена в форме конструкции с жестким креплением.')
                    div.swiper-slide
                        +equipment('images/11.webp', 'Мягкие носилки', 'Носилки волокуши особенно незаменимы когда необходима транспортировка в домах советского типа постройки где отсутствует грузовой лифт. Перемещение по этажам производится вручную. При этом за счет жестко закрепленных ручек и гибкого материала носилок человек ощущает спуск и подъем достаточно комфортно.')
                div.swiper-navigation
                    div.arrow
                        include ../../images/arrow.svg
                    div.arrow
                        include ../../images/arrow.svg
            div.swiper-pagination

        div.additional
            p Мы организуем транспортировку пациентов как внутри города, так и на междугородние расстояния, включая доставку в больницы, реабилитационные центры и домой. #[b Внимательность к деталям, ответственность и забота о каждом клиенте] — это то, что делает нас надежным партнером для вас и ваших близких.

            div.buttons
                a.button(href="tel:79161814037").red Срочный вызов
                button(data-modal-target="proposal").blue Записаться онлайн







